.super {
  vertical-align: super;
  font-size: 70%;
}

.bios-background {
  background-color: #d7ecfa;
  padding: 0px 10px 10px 10px;
}

.bios-section-wrapper {
  padding: 0px 10%;
  color: #05213b;
}

.picture-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}

.profile-text {
  margin-left: 10%;
  font-size: 200%;
  align-self: center;
}

.profile-buttons {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
}

.profile-buttons-alignment {
  align-self: center;
}

.profile-followup {
  border: 2px solid #05213b;
  display: inline-block;

  border-radius: 4px;

  color: #05213b;
  text-align: center;
  font-size: 70%;
  padding: 9px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.profile-followup span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.profile-followup span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.profile-followup:hover span {
  padding-right: 25px;
}

.profile-followup:hover span:after {
  opacity: 1;
  right: 0;
}
